<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CADMO SYS</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>  
    <form method="POST" action="/cadmoSys/controller/loginController.php"> 
        <div id="form">
            <h1>LOGIN</h1>
            <label for="inputUsuario">Usuário / E-mail</label>
            <input type="text" name="usuario" id="inputUsuario" placeholder="Usuário" size="30px">
            <label for="inputSenha">Senha</label>
            <input type="password" name="senha" id="inputSenha" placeholder="Senha" size="30px">
            <input type="submit" value= "Login">
            <a href="cadastro.html"><strong>É novo aqui? Cadastre-se</strong></a>
        </div> 
    </form>
</body>

</html>