<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <title>CADMO SYS</title>
    <link rel="stylesheet" href="style.css">

</head>
<body><center>
    <h1 style="color: yellow; display: inline; margin: 10px auto auto 540px;">Reserva de Produto!!!</h1>
    <input id="menuSair" class="menu" type="button" name="sair" id="sair" value="Sair" onclick="location.href='login.html'">
    <br><br>
    <!--input class="menu" type="button" name="reservarApartamento" id="reservarApartamento" value="Reservar Apartamento" onclick="location.href='reservarApartamento.html'">
    <input class="menu" type="button" name="reservarServico" id="reservarServico" value="Reservar Serviço" onclick="location.href='reservarServico.html'">
    <input class="menu" type="button" name="reservarProduto" id="reservarProduto" value="Reservar Produto" onclick="location.href='reservarProduto.html'">
    <input class="menu" type="button" name="sair" id="sair" value="Sair" onclick="location.href='login.html'"-->

</body></center>
</html>